body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
    margin: 0;
    padding: 0;
}

h1 {
    color: #008080;
}

ul {
    list-style-type: none;
    padding: 0;
}

li {
    margin-bottom: 10px;
}

a {
    text-decoration: none;
    color: #0066cc;
    font-weight: bold;
}

a:hover {
    text-decoration: underline;
    color: #004080;
}


/* Partie CSS Théo */















/* Partie CSS Thibault*/ 










/* Partie CSS Tom*/










/* Partie CSS Romain*/

.romain-body {
    font-family: 'Arial', sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    text-align: center;
}

.romain-main {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

.romain-header {
    padding: 20px;
}

.romain-footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}



/* Partie CSS Alex*/  