/* Partie CSS Théo */
#header{
    position: fixed;
	top:0;
	left: 0;
	right: 0;
	height: 100px;
    background-color: white;
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 100px;
    padding: 0px 40px;
    box-shadow: 0px 2px 30px gray;
    z-index: 1000;
}
.logo{
    height: 60px;
}
a{
    text-decoration: none;
    color: black;
    font-size: 30px;
    font-weight: 700;
}

body{
    padding-top: 200px;
}

body-theo {
    font-family: 'Roboto', sans-serif;
    margin: 0;
    padding: 0;
}

.head-theo {
    background-color: #3498db;
    color: #fff;
    padding: 20px;
    text-align: center;
}

.titre-theo {
    font-size: 24px;
    font-weight: bold;
}

.nom-theo {
    font-size: 32px;
}

.recherche-theo {
    font-style: italic;
}

.corp-theo {
    padding: 20px;
}

.colomn1-theo {
    float: left;
    width: 50%;
}

.profile-theo {
    margin-bottom: 20px;
}

.titre-head-theo {
    font-size: 18px;
    font-weight: bold;
    border-bottom: 1px solid #ccc;
    margin-bottom: 10px;
    padding-bottom: 5px;
}

.profile-body-theo {
    font-size: 16px;
    line-height: 1.5;
}

a-theo {
    color: #3498db;
    text-decoration: none;
}

a-theo:hover {
    text-decoration: underline;
}













/* Partie CSS Thibault*/ 

.tibo-body {
    background-color: bisque;
    font-family:monospace;
}
.tibo-header {
    font-size: 30px;
    text-align: center;
    background-color:darkcyan;
}

.tibo-nav {
    font-size: 18px;
}





/* Partie CSS Tom*/

/* Reset des marges et des paddings par défaut */
body, h1, h2, p, ul {
    margin: 0;
    padding: 0;
}

/* Style du fond d'écran en gris foncé */
body {
    background-color:black ;
    color: #fff;
}

/* Style du titre en haut au centre de la page */
.tom-header {
    text-align: center;
    padding: 20px;
    background-color: #005c6f ;
}

.tom-header h1 {
    margin: 0;
    color:whitesmoke;
}

/* Style du conteneur principal */
.tom-container {
    display: flex;
    align-items: center;
    justify-content: space-around;
    background-color: black ;
    padding: 20px;
    margin: 20px auto; /* Centre le conteneur */
    border-radius: 10px; /* Ajoute une bordure arrondie au conteneur principal */
}

/* Style du bloc de gauche et de droite */
.tom-left-rectangle, .tom-right-rectangle {
    flex: 1;
}

.tom-left-rectangle img, .tom-right-rectangle img {
    width: 100%;
    height: 100%;
    object-fit: cover; /* Pour s'assurer que l'image conserve ses proportions */
    border-radius: 10px; /* Ajoute une bordure arrondie aux images */
}


/* Style du bloc de texte */
.tom-center-section {
    flex: 2;
    padding: 20px;
    text-align: center;
}

/* Style des éléments textuels */


/* Style des titres */
.tom-center-section h2 {
    font-size: 1.5em;
    margin-top: 20px;
    color: #005c6f;
}

/* Style de la liste */
.tom-center-section ul {
    list-style-type: none;
}

.tom-center-section ul li {
    margin-bottom: 8px;
}

/* Style du lien de contact */
.tom-center-section p:last-child {
    font-weight: bold;
    margin-top: 20px;
}

/* Style des sections distinctes du bloc de texte */
.tom-cv-section {
    margin-bottom: 20px;
    border-bottom: 1px solid #666; /* Ajoute une bordure entre les sections */
    padding-bottom: 20px;
}

/* Supprime la bordure de la dernière section pour éviter le double trait */
.tom-cv-section:last-child {
    border-bottom: none;
}



/* Partie CSS Romain*/

.romain-body {
    font-family: 'Arial', sans-serif;
    background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTvm0_-PhRWe5v0THAbr0kFlIQSx9gpz5D4Hg&usqp=CAU")
    background-repeat: no-repeat;
    background-size:1400px ;
    margin: 0;
    padding: 0;
    text-align: center;
}

.romain-main {
    background-color: #333;
    color: #fff;
    padding: 1em;
}

.romain-footer {
    background-color: #333;
    color: #fff;
    padding: 1em;
    position: fixed;
    bottom: 0;
    width: 100%;
}

@keyframes changeColor {
    from {
        background-color: #3498db; /* Couleur de fond initiale */
    }
    to {
        background-color: #e74c3c; /* Nouvelle couleur de fond */
    }
}

/* Partie CSS Alex*/  


.alex-header-text{
    margin-top: 40px;
    margin-bottom: 40px;
    text-align: center;
    font-size: 40px;
    font-weight: 700;
}
.alex-main{
    background-color:aliceblue;
}

.alex-main-bloc1{
    height: 800px;
    background-color: lightgreen;
    display: grid;
    grid-template-columns: repeat(7, 1fr);
    grid-gap: 10px;
    grid-auto-rows: minmax(100px, auto);
}
.alex-main-bloc1-image{

}
.alex-main-bloc1-text, .alex-main-bloc2-text, .alex-main-bloc3-text{
    font-size: 60px;
    color: white;
}

.alex-main-bloc2{
    height: 800px;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: lightcyan;
}

.alex-main-bloc3{
    height: 800px;
    display: flex;
    justify-content: center ;
    align-items: center;
    background-color: lightseagreen;
}

.alex-footer{
    height: 200px;
    background-color: #333;
}